@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.table-cell {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: #e30000;
  white-space: nowrap;
}
* {
  box-sizing: border-box;
}

.typeButtons{

   button {
    background: #0D0F11;
   }
}
.data-input-page {
    background-color: #141414; /*090913  090f13  091013*/
    
    min-height: 50vh; 
    
    overflow: auto;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 115vh; /* Set the height to cover the entire viewport */
    color: #ffffff; /* Set text color to white or any other light color */
  }
  .typeButtons{
    color: #565656;
  }
  
  .form-control,
  .text-field {
  }
  
  .sources,
  label {
    color: #ffffff; /* Set text color to white or any other light color */
  }
  
  .action-button {
    background-color: #1976D2;
    color: #ffffff; /* Set text color to white or any other light color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  ::-webkit-calendar-picker-indicator {
    filter: invert(1)
  }