
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
  }
.login-page {
    margin-top: 0;
    /* background-color: #ffffff; */
    /* background-image: url('../../assets/backgroundImagамеиа кетти дриалоап ким аоманы  1e.PNG'); */
    background-image: url('../../assets/backgroundLoginV3.jpg');
    background-color: #000000;
    background-blend-mode:luminosity;
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100vw; 
    position: relative;
    /* filter: grayscale(100%); */
    * {
        font-family: 'Montserrat', sans-serif;
    }
    .inputText{

        color: #fff;
    }
    
    .warning-block {
        position: absolute;
        top: 10px;
        left: -200px;
        background-color: rgba(211, 55, 55, 0.603);
        transition: all 0.5s ease;
        padding: 20px;
        padding-right: 4 0px;
        border-radius: 7px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        svg {
            width: 30px;
        }
        a {
            color: white;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .login-form-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 40px 15px 40px;
        background-color: #0D0F11;
        border-radius: 9px;
        height: 350px;
        width: 350px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                color: #ffffff;
            }
        }


        .body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .input-line {
                
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 15px;


                .login-container {
                    width: 319px;
                    position: relative;
                    .icon {
                        position: absolute;
                        bottom: -1px;
                        svg {
                            opacity: 0.7;
                            width: 20px;
                            position: relative; 
                            bottom: 0;
                        }
                    }

                    input {
                        background-color:#292929;
                        padding-left: 25px;
                        

                    }
                }

                label {
                    color: #424446;
                    font-size: 18px;
                    font-weight: 400;
                    
                    
                }
                
                input {
                    width: 100%;
                    height: 80%;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 4px;
                    border: none;
                    border-radius: 6px;
                    

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #636363;
                    }
                }
                .password-container {
                    display: flex;
                    align-items: center;
                    position: relative;
                    .icon {
                        position: absolute;
                        bottom: -1px;
                        svg {
                            opacity: 0.7;
                            width: 20px;
                            position: relative; 
                            bottom: 0;
                        }
                    }
                    > input {
                        background-color:#292929;
                        padding-left: 25px;

                        padding-right: 40px;
                    }


                    .password-input {
                        width: 100%;
                        color: #fff;
                    }
                    .toggle-password {
                        position: absolute;
                        right: 0px; /* Adjust as necessary */
                        top: 50%;
                        transform: translateY(-50%);
                        background: none;
                        border: none;
                        cursor: pointer;
                        svg {
                            width: 24px;
                            color: #fff;
                            position: relative; 
                            bottom: -1px;
                        }
                    }
                }

            }
        }

        .footer {
            display: flex;

            padding-bottom: 25px;
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: right;
            gap: 20px;

            button {
                padding: 1px 11px;
                height: 30px;
                background: none;
                box-sizing: content-box;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                line-height: 17px;
                border-radius: 5px;
                cursor: pointer;


                transition: all 0.2s ease;
                &:hover {
                    transition: all 0.2s ease;
                }
            }

            .submit {
                background: #25488e;
                border: 1px solid #1b376f;
                color: #ffffff;
                &:hover {
                    background-color: #25488e;
                    color: #060c17;
                }
            }
            .clear {
                border: 1px solid #636363;
                color: #636363;
                &:hover {
                    background-color: #6363632c;
                }
            }
        }
    }
}