.container {
    background: rgba(4, 4, 15, 0.7); 
    backdrop-filter: blur(10px); 
    padding: 20px;
    height: calc(100% - 70px);
    border: 1px solid white;
    margin: 15px;
    overflow: hidden;
  }
  
