.parentContainer {
  margin: 15px;
  
}

.contenr {
  width: 100%;

}

.selector {
    height: 100%;
    display: flex;
    flex-direction: row; 
    
  }

  .Filter1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: none;
    position: relative;
  }

  .Filter1 label::after {
    content: ""; 
    position: absolute; 
    left: 40px; 
    bottom: 28px; 
    width: 474px; 
    height: 1px; 
    background: rgba(255, 255, 255, 0.4);
  }
  .Filter1 label {
    margin-bottom: -10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 

  }
  .labelsSec {
    margin-bottom: -10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 

  }

  .Filter1 select {
    font-size: 14px; 
    color: #ffff;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; 
    width: 474px;
    height: 48px;
    background: rgba(4, 4, 15, 0.7);


  }

  .Filter2 {
    padding: 40px;
    margin-top: -50px;
    position: relative;


  }

    .Filter2 label::after {
    content: ""; 
    position: absolute; 
    left: 40px; 
    bottom: 28px; 
    width: 474px; 
    height: 1px; 
    background: rgba(255, 255, 255, 0.4);
  }
  
  .button {
    height: 40px;
    flex: 1;
    font-size: 12px;
    color: white;
    backdrop-filter: blur(10px);
    cursor: pointer;
    user-select: none;
    font-family: 'Montserrat', sans-serif; 

  }
  
  .button.active {
    border: 1px solid white;
    background: rgba(4, 4, 15, 0.7);
    border-bottom: none;
  }
  
  .button:not(.active) {
    background: rgba(10, 10, 30, 0.8);
    border: 1px solid gray;
    border-bottom: 1px solid white;
  }
  
  .containerInputs {
    background: rgba(4, 4, 15, 0.7);
    backdrop-filter: blur(10px);
    min-height: 700px;
    border: 1px solid white;
    border-top: none;
  }
  
  input[type="text"], select {
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif; 

  }
  
  .select {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 

  }
  